
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bootstrap Form</title>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
           Création de Projet
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="nom">Nom de projet</label>
                    <input type="text" class="form-control" id="nom" placeholder="Entrez le nom" name="nom"
                    [(ngModel)]="project.nom" [ngModelOptions]="{standalone: true}" required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Entrez la description" name="description"
                    [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}" required></textarea>
                </div>

                <div class="form-group">
                    <label for="dateDebut">Date de début</label>
                    <input type="date" class="form-control" id="dateDebut" name="date_debut"
                    [(ngModel)]="project.date_debut" [ngModelOptions]="{standalone: true}" required>
                </div>

                <div class="form-group">
                    <label for="dateFin">Date de fin</label>
                    <input type="date" class="form-control" id="dateFin" name="date_fin"
                    [(ngModel)]="project.date_fin" [ngModelOptions]="{standalone: true}" required>
                </div>

                <div class="form-group">
                    <label for="statut">Statut</label>
                    <select class="form-control" id="statut" name="statute"
                    [(ngModel)]="project.statute" [ngModelOptions]="{standalone: true}">
                        <option value="en_cours">En cours</option>
                        <option value="termine">Terminé</option>
                        <option value="suspendu">Suspendu</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" (click)="onClick()">Soumettre</button>
                <h4>{{validation}}</h4>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

