
    <meta charset="UTF-8">
    <title>Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
     
    </style>

    <br>
    <br>
    <br>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin" />
                                </div>
                             
                                <h6 class="user-email">
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2158544a48616c405956444d4d0f424e4c">[email&nbsp;protected]</a>
                                </h6>
                            </div>
                            <div class="about">
                                <h5>Creation de Tâche</h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Tâche</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Titre de Tache </label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Entrer la Tache"
                                    [(ngModel)]="tache.titre" [ngModelOptions]="{standalone: true}" required />
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Description</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Entrer la Tache"
                                    [(ngModel)]="tache.description" [ngModelOptions]="{standalone: true}" required />
                                </div>
                                
                                <div class="form-group">
                                    <label for="taskStatus">État de la Tâche :</label> <br>
                                    <select class="form-control" id="taskStatus" name="taskStatus" value={statute}
                                    [(ngModel)]="tache.statute" [ngModelOptions]="{standalone: true}" required >
                                        <option value="en_attente">En Attente</option>
                                        <option value="en_cours">En Cours</option>
                                        <option value="terminee">Terminée</option>
                                    </select>
                                </div>
                                <!-- Inside the "form-group" div for the assignedTo field -->
<div class="form-group">
    <label for="assignedTo">Assigné a :</label>
    <select  class="form-control" id="assignedTo" name="assignedTo" required>
 
    </select>
</div>

                            </div>
                            <!-- ... Autres éléments du formulaire ... -->
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="Tache" id="submit" name="submit" class="btn btn-secondary">Cancel</a>
                                    <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="onClick()">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>

